In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

<h3>Data Scraping:</h3>

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
df.tail()

    Postcode       Borough          Neighbourhood
282      M8Z     Etobicoke              Mimico NW
283      M8Z     Etobicoke     The Queensway West
284      M8Z     Etobicoke  Royal York South West
285      M8Z     Etobicoke         South of Bloor
286      M9Z  Not assigned           Not assigned

<h3>Removing tuples with missing borough:

In [5]:
df_new = df[df.Borough != 'Not assigned']

In [6]:
df_new.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [7]:
df_new = df_new.reset_index(drop = True)

In [8]:
df_new.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

<h3>Grouping neighborhoods:

In [9]:
df_grouped = df_new.groupby(['Postcode','Borough'], as_index = False).agg(lambda x: ','.join(x))

In [10]:
df_grouped.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

<h3>Not assigned neighborhood:

In [11]:
df_grouped['Neighbourhood'].replace("Not assigned", df_grouped['Borough'], inplace = True)
df_grouped

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [12]:
df_grouped.tail(11)

    Postcode       Borough                                      Neighbourhood
92       M8Z     Etobicoke  Kingsway Park South West,Mimico NW,The Queensw...
93       M9A  Queen's Park                                       Queen's Park
94       M9B     Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95       M9C     Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                    Emery,Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V     Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W     Etobicoke                                          Northwest

<p>Index no. 94 has been updated

In [13]:
df_grouped.shape

(103, 3)

<h3>Coordinates:

In [14]:
coords = pd.read_csv('Geospatial_Coordinates.csv')
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
coords.rename(columns={"Postal Code": "Postcode"}, inplace=True)
coords.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [16]:
df_final = df_grouped.merge(coords, on="Postcode", how="left")
df_final.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [17]:
df_final.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054